@import "bootstrap/dist/css/bootstrap.min.css";

.card{
    width: 350px;
    height: 650px;
    margin-top: 100px;
    border-radius: 30px;
}
.red{
    color: red;
}
.black{
    color: black;
}
.simbolo{
    font-size: 90px;
    text-align: center;
}
.simbolo.bottom{
    transform: rotate(180deg);
}
#numero{
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
}
